 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    </div>
<div>
    <img src="../../../assets/fotoperfil/d72407be-4038-45ee-9460-e14d7263e2c6 - Editado-PhotoRoom.png" 
    class="img.fluid" id="fotodeperfil">
</div>
<div >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3 id="nombre"> Patricia Correa</h3>
    <p>  Full Stack  Developer junior.</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi </h1>
        <p>Estoy dando mis primeros pasos en el desarrollo web y me da mucha 
            satisfacción ver lo mucho que he avanzado y pensar el camino que me
             queda por recorrer para alcanzar mi máximo potencial. Mi mayor deseo 
             es poder involucrarme en proyectos de los que pueda estar orgullosa y unirme a un 
             grupo de trabajo del que pueda aprender y al que pueda aportar desde mi conocimiento. Me gustaría que me acompañes en mi progreso como desarrolladora. 
            De mi parte siempre habrá compromiso y ganas de aprender. ¡Trabaja conmigo!</p>
             </span>
</div>