<div class="row">
<h1> Experiencia laboral:</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul> 
        <li><h2> Proyecto:</h2> 
            <p> Descripcion: <span></span></p>
            <h3> </h3>
            <span></span>
            <h6><button class="ir1">ir al proyecto</button></h6>
        </li>
        
    </ul>
    <ul> 
        <li><h2> Proyecto 2:</h2> 
            <p> Descripcion: <span></span></p>
            <h3> </h3>
            <span></span>
            <h6><button class="ir2">ir al proyecto</button></h6>
        </li>
        
    </ul>
    
</div>
