<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/logos/APLogo.png" id="logoAP">
    </div>
<div class="redes">
<a href=""><img src="../../../assets/logos/linkedin.png" alt="https://www.linkedin.com/in/patricia-correa-a85386a5/"></a>
    <a href=""><img src="../../../assets/logos/github.png" alt="https://github.com/Correa2218"></a>
    <a href=""><img src="../../../assets/logos/instagram.png" alt="https://www.instagram.com/community_patriciacorrea/"></a>
    <a href=""><img src="../../../assets/logos/facebook.png" alt="https://www.facebook.com/profile.php?id=100088125920567"></a>
     <button type="button" class="btn btn-outline-light">iNGRESO</button>
     </div>
    </div>
    
</div>