<div class="row">
    <h1> Educación: </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2> #Se programar </h2>-<h3>(2021)</h3>
            </li>
            <h6>Curso de introducción a la programación
            </h6>
        </ul>
      
        <ul>
            <li><h2> StoryTelling BRAINSHOCK</h2>-<h3>(2022)</h3>
            </li>
            <h6>Modalidad de marketing de contenido que se basa en contar
                 historias en torno a una marca y sus productos.  </h6>
        </ul>
        <ul>
            <li><h2> Ingles Argentina Programa</h2>-<h3></h3>
            </li>
            <h6>cursando  </h6>
        </ul>
       
    </div>
    
